
.centerleft{overflow:hidden;}
.serchbox2{width:373px;}
.serFl{width:110px;float:left;}
.databoxts table tr th,.databoxts table tr td{text-align:center;}
.tearch-navts div{color:#666;}
.tearch-navts h1{float:left;width:200px;}
.tearch-navts div a{color:#333333;}
.work-contts{text-align:center;}
.noticekateboxts {padding-top:10px;}
.noticekateboxts div{float:right;margin:0 12px 0 0;}
.scselect select{height:30px;width:120px; padding:5px;}
.scdelec{text-align:right;}
.scdelec a img{margin:0 5px -2px;}
.xuex{margin-top:10px;background:#f5f7f9;}
.xuexLeft{width:540px;float:left;padding-left:10px;}
.xuexTop{width:538px;height:300px;border:1px solid #ccc;background:#fff;}
.xuexBottom{margin-top:10px;}
.xuexBottom textarea{WIDTH:530px;height:50px;border:1px solid #ccc;padding:4px;}
.xuexBottom .xuepaddin{padding-top:10px;line-height:30px;}
.floatL{float:left;}
.floatR{float:right;}
.xueRight{width:220px;float:right;}
.xuejj{width:218px;border:1px solid #ccc;margin-bottom:10px;background:#fff;}
.xuejjTit{height:25px;line-height:25px;font-weight:bold;padding:0 5px;background:#fff;border-bottom:1px solid #ccc;}
.xueCont{padding:10px;line-height:20px;}
.xueCont ul li img{margin:0px 8px -3px 0;}
.pop{width:400px;height:auto!important;min-height:200px;height:200px;border:1px solid #ccc;background:#fff;}
.popTit{height:30px;background:#e4e4e4;line-height:30px;padding:0 5px;}
.popTit .floatL{font-weight:bold;color:#333;}
.popTit .floatR a{color:#004080;text-decoration:underline;}
.popCont{padding:10px;}
.popCont dl{clear:both;}
.popCont dl p{padding:5px;font-weight:bold;}
.popCont dl dt{padding:10px 20px;}
.popConts input{margin-right:5px;}
.popCont dl dd{padding:5px 40px;}
.popCont2 dl dd{padding:5px 10px;}
.popDown{height:30px;padding:15px 10px 0;border-top:1px solid #ccc;text-align:right;}
.popDown div{float:right;margin-top:-8px;}
.popDown span{display:block;float:left;width:270px;text-align:right;}
.popDown span a{color:#004080;text-decoration:underline;}
.popTis{text-align:right;}
.popTis img{margin-bottom:-2px;}
.popTis a{color:#123b7b;}
.addptimes input{width:150px;height:25px;border:1px solid #c3d0e1;border-radius:3px;}
.databox table tr td,.databox table tr th{text-align:center;}
.scselects{padding-top:10px;}



.addptits{float:left;}
.addptits input{width:242px;height:20px;padding-top:5px;border:1px solid #c3d0e1;border-radius:3px;margin-right:10px;}
.addbutin2{padding-right:65px;}
.addbutin2 input{background:url(../images/addbg.jpg) no-repeat;width:94px;}
.addptits2{float:left;}
.addptits2 input{width:102px;height:20px;padding-top:5px;border:1px solid #c3d0e1;border-radius:3px;margin-right:10px;}
.noticenwarps .noticekatebox div{line-height:30px;}
.scselect a{color:#06f}
.tearch-nav span{font-weight:100;color:#666;}
.scselect{float:left;margin-right:8px;}
.wc-choices ul{padding:10px 0 10px;}
.wc-choices ul li{line-height:25px;padding-left:10px;}
.dcti{margin:0 0 10px;}
.wc-choice2 ul {padding:5px 0 0px 80px;clear:both;color:#333;}
.wc-choice2 ul li{float:left;margin:12px 5px 0; line-height: 30px;}
.wc-choice2 ul li a{margin-left:10px;color:#004080}
.wc-choice2 ul li div a{margin-left:0;color:#fff;}
.dcti h2 input,.dcti h4 input{width:60px;border:1px solid #c3d0e1;border-radius:3px;height:25px;margin:0 4px;}
.wc-choice2 ul li img{margin:0 2px -4px;}
.dcti ul li input{width:60px;border:1px solid #c3d0e1;border-radius:3px;height:25px;margin:0 4px;}
.wc-choice2 h2,.wc-choice2 h4{clear:both;}
.databoxs a{color:#06f}
.wenda{padding:10px;font-size:14px;line-height:25px;border:1px solid #ccc;background:#fff;clear:both;}
.mailwraps{margin-top:10px;}
.mailwraps div img{margin:0 4px;}
.mailwraps .floatL span{margin-left:10px;}
.mailwraps .floatR a{text-decoration:none;}
.addbutdel2{margin-right:10px;}
.maildatawords{margin:0 auto;}
.popContts ul li{padding:10px 40px 0;height:30px;line-height:30px;}


.wend{clear:both;margin-top:10px;}
.wendLeft{padding:10px;font-weight:bold;font-size:14px;float:left;width:40px;border:1px solid #ccc;background:#fff;height:30px;text-align:center;line-height:30px;}
.wendRight{width:625px;float:right;clear:none;min-height:30px;height:auto!important;height:30px;}

.popContdc{padding:10px;}
.popContdc dl {clear:both;}
.popContdc dl dt{width:150px;float:left;padding-left:30px;}
.popContdc dl dd{width:170px;float:left;padding-left:180px;height:25px;}
.popContdc dl dt input,.popContdc dl dd input{margin-right:4px;}
.noticenwarpts .noticekateboxta{padding:20px 0 0 100px;font-size:14px;}
.datadelno{background:none;margin-right:10px;}
.datadelno select{height:30px;}
.scTit{height:30px;border-bottom:1px solid #c3d0e1;line-height:30px;padding:0 10px;margin:0px 10px 0;}
.scTit div{float:left;width:90px;text-align:center;height:29px;border:1px solid #c3d0e1;border-radius:3px;margin-right:8px;font-size:14px;}
.scTit .scHti{font-weight:bold;border-bottom:1px solid #c3d0e1;position:relative;}
.scTitle{padding-bottom:8px;}
.scTitle input{width:100px;height:30px;border:1px solid #c3d0e1;border-radius:3px;margin:0 4px;}
.cjb{border-bottom:1px solid #ccc;padding:10px;margin:10px;}
.cjb h2{font-size:14px;height:30px;}
.cjb dl dt{font-weight:bold;height:25px;line-height:25px;}
.cjb dl dt span{font-weight:100;}
.cjb dl dd{height:25px;line-height:25px;}
.cjb dl dd span{color:#c00000;}
.cjb dl dd a{color:#0066FF;}
.shenh{padding-top:50px;}
.shenh dl{padding:0 100px;}
.shenh dl dt{height:30px;}
.shenh dl dd{height:20px;margin-top:4px;padding-left:80px;}
.shenh dl dd input{margin-right:4px;}
.shenh2 dl{margin:10px 20px 0;border-bottom:1px dashed #ccc;padding:10px 0;}
.shenh2 dl dt{font-weight:bold;color:#000;font-size:14px;height:30px;}
.shenh2 dl dt input{margin-right:4px;}
.shenh2 dl dd input{margin-right:4px;}
.shenh2 dl dd span{margin-right:20px;}

