@charset "utf-8";
/* CSS Document */

.p5{padding: 5px;}
.ml5{ margin-left:5px}
.noticenwarp{ min-height:500px;}
.centnoticetit h1.zj{ text-align:left; padding-bottom:10px;}
.tearch-nav h2{ float:left; font-size:12px; line-height:31px; padding-left:10px; font-weight:normal}
.tearch-nav h2 a{ color:#1e8dd2;}
.tearch-nav div{ float:right; line-height:31px; padding-right:10px;}
.tearch-nav div img{ padding-right:0px; margin-left:10px; margin-right:3px;}
.blue{ color:#0066aa}
.tea-cont .addpease textarea{ height:300px; resize:none; background-image:none; border:1px solid #c4cfe1; background-color:#fff; border-radius:3px;}
.work-cont{ padding:10px;}
.work-cont h1{ font-size:16px; padding-bottom:10px;}
.work-cont h1 em{ font-size:12px; font-style:normal; font-weight:normal}
.wc-choice{ padding-top:10px;}
.wc-choice h2{ font-size:12px;}
.wc-choice h2 em{ font-weight:normal; font-style:normal}
.wc-choice h3{ font-size:12px; margin-top:10px; font-weight:normal}
.wc-choice h3 input{ border:0px; border-bottom:1px solid #666; width:120px}
.wc-choice p{ line-height:24px; padding-left:15px; padding-top:5px;}

.noticeselect .addfile select{ padding:5px;}
.cz{ text-align:right; padding-right:10px;}

.cz a img{ margin-left:10px; margin-right:3px;}

table.anwser-cont{}
table.anwser-cont h2{ font-size:12px; font-weight:normal; color:#0066aa}
table.anwser-cont  em{ font-style:normal; color:#999}
table.anwser-cont  .ac-cont{ padding:10px; border:1px  solid #ededed; background-color:#fff;}
.kecheng .wc-choice h4{ line-height:22px; font-size:12px; font-weight:normal; padding:10px 5px;}
.kecheng .wc-choice h5{ font-size:12px;}
.kecheng .wc-choice h5 a{ font-weight:normal; color:#006699}
.wc-line{ border-bottom:1px dotted #ccc; height:20px; margin-bottom:15px;}
ul.wc-list{ padding:10px 0px;}
ul.wc-list li{ line-height:22px;}
ul.wc-list li a{ color:#006699}
.tearch-nav h1 em{ font-size:12px; font-style:normal; color:#333; font-weight:normal; margin-left:10px;}
.work-cont h1 { height:25px;}
.work-cont h1 span{ float:left}
.work-cont h1 div{ float:right; font-size:12px; font-weight:normal}
.work-cont h1 div a{ margin-left:10px;}
.work-cont h1 div a img{ margin-right:5px;}
.Bjsc{ text-align:right}
.Bjsc a{ margin-left:10px;}
.Bjsc a img{ margin-right:5px;}
.mt7{ margin-top:7px}